.box {
    height: 33%;
    width: 33%;
    font-size: 100px;
    text-align: center;
    line-height: 165px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    outline: 5px solid black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#container {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -250px;


    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

#winnerDiv {
    position: relative;
    text-align: center;
    top: 700px;
    font-size: 100px;
}

input[type=button] {
    background-color:white;
    height: 50px;
    width: 100px;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 4px;
}

.buttondiv {
    position:absolute;
    left: 50%;
    margin-left: -100px;
    top: 600px;
    width: 200px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#namediv1 {
    position: absolute;
    top: 200px;
    left: 250px;
    font-size: 70px;
    text-align: center;
}

#namediv2 {
    position: absolute;
    top: 200px;
    right: 250px;
    font-size: 70px;
    text-align: center;
}